<header>
  <!-- Header Start -->
  <div class="header-area">
    <div class="main-header ">
      <div class="header-top top-bg d-none d-lg-block">
        <div class="container-fluid">
          <div class="col-xl-12">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="header-info-left d-flex">
                <ul class="contact-now">
                  <li>Liên hệ: 0983931998</li>
                </ul>
              </div>
              <div class="header-info-right">
                <ul>
                  <li *ngIf="!currentUser"><a routerLinkActive="active" [routerLink]="['/login']">Đăng nhập </a></li>
                  <li *ngIf="currentUser"><a href=""> {{currentUser.hoten}} </a></li>
                  <li *ngIf="currentUser"><button (click)="logout();" onClick="window.location.reload();"
                      class="astext">Đăng
                      xuất</button></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="header-bottom  header-sticky">
        <div class="container-fluid">
          <div class="row align-items-center">
            <!-- Logo -->
            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3">
              <div class="logo">
                <a href="index.html"><img src="assets/img/logo/logo.png" alt=""></a>
              </div>
            </div>
            <div class="col-xl-6 col-lg-8 col-md-7 col-sm-5">
              <!-- Main-menu -->
              <div class="main-menu f-Left d-none d-lg-block">
                <nav>
                  <ul id="navigation">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="http://localhost:4200/vans" routerLinkActive="active">Vans</a></li>
                    <li><a routerLinkActive=" active" [routerLink]="['/converse']"
                        href="http://localhost:4200/converse">Converse</a></li>
                    <li><a routerLinkActive=" active" [routerLink]="['/nike']"
                        href="http://localhost:4200/nike">Nike</a></li>
                    <li *ngIf="currentUser" class="nav-item dropdown">
                      <a *ngIf="checkRole()" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li class="dropdown-submenu">
                      <a style="margin-right: 45px;" class="dropdown-item" tabindex="-1" href="#">Quản lý giày</a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLinkActive=" active"
                            href="http://localhost:4200/productmanage">Danh
                            sách giày</a>
                          <a class="dropdown-item" routerLinkActive=" active"
                            href="http://localhost:4200/newproduct">Thêm
                            sản phẩm</a></li>
                      </ul>
                    </li>
                    <li class="dropdown-submenu">
                      <a class="dropdown-item" tabindex="-1" href="#">Quản lý đơn hàng</a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLinkActive=" active"
                            href="http://localhost:4200/ordermanage">Danh sách
                            đơn hàng</a>
                          <a class="dropdown-item" routerLinkActive=" active"
                            href="http://localhost:4200/completeorder">Đơn
                            hàng đã hoàn thành</a></li>
                      </ul>
                    </li>
                    <li class="dropdown-submenu">
                      <a style="margin-right: 45px;" class="dropdown-item" tabindex="-1"
                        href="http://localhost:4200/customermanage">Quản lý khách hàng</a>

                    </li>

              </div>
              </li>

              </ul>
              </nav>
            </div>
          </div>
          <div class=" col-xl-5 col-lg-3 col-md-3 col-sm-3 fix-card">
            <ul class="header-right f-right d-none d-lg-block d-flex justify-content-between">
              <li class="d-none d-xl-block">
                <div class="form-box f-right ">
                  <input [(ngModel)]="nameFilter" (ngModelChange)="filterProduct($event)" type="text" name="Search"
                    placeholder="Tìm kiếm sản phẩm">
                  <div class="search-icon">
                    <i class="fas fa-search special-tag"></i>
                  </div>
                  <div *ngIf="product && nameFilter" style="padding: 0 0 10px 0;
                    color: #555;
                    position: absolute;
                    top: 40px !important;
                    z-index: 9999;
                    width: 100%;
                    min-width: 290px;
                    max-width: 100%;
                    width: 100% !important;
                    background-color: #f8f8f8; box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.15);">
                    <div class="search_top" style="display: block;">
                      <ul>
                        <li *ngFor="let item of product; let i = index">
                          <a href="http://localhost:4200/{{ item._id }}">
                            <div>
                              <img src="http://localhost:3000/{{ item.productImage[0] }}" alt="">
                            </div>
                            <div>
                              <div>
                                <h4 style="font-size: 13px;
                                  font-weight: 500;">{{item.name}}</h4>
                              </div>
                              <div>
                                <h4 style="font-size: 13px;
                                  color: #d0021b; font-weight: 500;">{{stringPrice[i]}}₫</h4>
                              </div>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>

                </div>
              </li>

              <li>
                <div class="shopping-card" [attr.soluong]="cartListLength">
                  <a href="cart"><i class="fas fa-shopping-cart"></i></a>
                </div>
              </li>
            </ul>
          </div>
          <!-- Mobile Menu -->
          <div class="col-12">
            <div class="mobile_menu d-block d-lg-none"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- Header End -->
</header>
