<div class="slider-area ">
  <!-- Mobile Menu -->
  <div class="single-slider slider-height2 d-flex align-items-center"
    style="background-image: url(assets/img/hero/category.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="hero-cap text-center">
            <h2>product Details</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- slider Area End-->

<!--================Single Product Area =================-->
<div *ngIf="product" class="product-detail">
  <div class="container">
    <div class="product-detail-left">
      <div *ngIf="!product.productImage" class="sp-loading">
        <img src="assets/img//sp-loading.gif">
        Loading Images
      </div>
      <div class="sp-wrap">
        <a href="http://localhost:3000/{{product.productImage[0]}}"><img
            src="http://localhost:3000/{{product.productImage[0]}}" alt=""></a>
        <a href="http://localhost:3000/{{product.productImage[1]}}"><img
            src="http://localhost:3000/{{product.productImage[1]}}" alt=""></a>
        <a href="http://localhost:3000/{{product.productImage[2]}}"><img
            src="http://localhost:3000/{{product.productImage[2]}}" alt=""></a>
      </div>
    </div>
    <div class="product-detail-right">
      <h3>{{product.name}}</h3>
      <h5><b>Giá: </b> <i class="fas fa-dollar-sign"></i> {{product.price}}</h5>
      <h5><b>Nhãn hiệu: </b> {{product.brand}}</h5>
      <h5><b>Availability : </b> in Stock</h5>
      <a href="#" class="addtocart"><i class="fas fa-heart"></i> Add to Cart</a>
      <a href="#" class="writereview"><i class="fas fa-pen"></i> Write a review</a>
      <a href="#" class="buynow"><i class="fas fa-shopping-cart"></i> Buy Now</a>
    </div>
  </div>
</div>
