<div class="container">
    <div class="card">
      <h5 class="card-header">Tạo mới sản phẩm</h5>
      <div class="card-body">
        <form [formGroup]="productForm">
          <div class="form-group">
            <label for="tensanpham">Tên sản phẩm</label>
            <input formControlName="name" type="text" class="form-control" id="tensanpham" aria-describedby="emailHelp"
              placeholder="Nhập tên sản phẩm" />
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
              <div *ngIf="name.errors.required">
                Tên sản phẩm không được bỏ trống
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary" (click)="createProduct()">
            Thêm
          </button>
        </form>
      </div>
    </div>
  </div>
