<div class="slider-area">
  <!-- Mobile Menu -->
  <div class="single-slider slider-height2 d-flex align-items-center"
    style="background-image: url(assets/img/hero/category.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="hero-cap text-center">
            <h2>Danh sách giày Vans</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- slider Area End-->

<!-- product list part start-->
<section class="product_list section_padding">
  <div class="container">
    <div class="row" style="width: 1500px; margin-left: -50px;">
      <div class="col-md-2">
        <div class="product_sidebar">

          <div class="single_sedebar">
            <div class="select_option">
              <div class="select_option_list">
                Sắp xếp <i class="right fas fa-caret-down"></i>
              </div>
              <div class="select_option_dropdown">
                <p><a href="#">A-Z</a></p>
                <p><a href="#">Z-A</a></p>
                <p><a href="#">Giá tăng dần</a></p>
                <p><a href="#">Giá giảm dần</a></p>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-8">
        <div class="product_list">
          <div class="row">
            <div style="max-width: 250px; padding-left: 25px;" *ngFor="
                let item of product
                  | paginate: { itemsPerPage: pageSize, currentPage:pageIndex, totalItems:productLength };
                let i = index
              " class="col-lg-5 col-sm-5">
              <div style="width: 206.25px;" class="single_product_item"><a
                  href="http://localhost:4200/{{item._id}}"><img style="width: 206.25px; height: 206.25px;"
                    src="http://localhost:3000/{{ item.productImage[0] }}" alt="" class="img-fluid" /></a>

                <h3 style="font-size: 14px;">
                  <a href="http://localhost:4200/{{item._id}}">{{ item.name }}</a>
                </h3>
                <p style="text-align: center; font-size: 14px;">
                  {{ stringPrice[i] }}₫
                </p>
              </div>
            </div>
          </div>
          <pagination-controls (pageChange)="pageIndex = $event; getPageEvent()"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</section>
